<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :name, class: 'form-label' %><br>
    <%= form.text_field :commenter, class: 'form-control comment-name' %>
  </p>
  <p>
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control comment-body' %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>
