<div class="container show-article-container">
  <h1 class='show-article-title'><%= @article.title %></h1>
  <hr class="my-4">
  <p class='show-article-body'><%= @article.body %></p>
  <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary art-btn' %>
</div>

<div class="container comment-container">
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  
  <h2>Comments</h2>
  <%= render @article.comments %>
</div>
